{%extends "base.html"%}

{%block title%}Add a Post{%endblock%}

{%block content%}
<div class="container-main">
    <h1 class="title-secondary">Create Post</h1>
    <br/>
    <form method="POST" class="form">
        {{form.hidden_tag()}}
    
        {{form.title.label(class="form-label")}}
        {{form.title(class="post-input", autocomplete="off")}}
        <br/>
        {{form.content.label(class="form-label")}}
        {{form.content(class="post-input form-textarea")}}
        <br/>
        {{form.slug.label(class="form-label")}}
        {{form.slug(class="post-input", autocomplete="off")}}
        <br/>
    
        {{form.submit(class="btn-primary")}}
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name="content")}}
</div>
{%endblock%}