{%extends "base.html"%}
{%block title%}Edit Post{%endblock%}

{%block content%}
<div class="container-main">
    <h1 class="title-secondary">Edit Post</h1>
    <br/>
    <form method="POST" class="form">
        {{form.hidden_tag()}}
    
        {{form.title.label(class="form-label")}}
        {{form.title(class="form-control", autocomplete="off")}}
        <br/>
        {{form.content.label(class="form-label")}}
        {{form.content(class="form-control form-textarea")}}
        <br/>
        {{form.slug.label(class="form-label")}}
        {{form.slug(class="form-control", autocomplete="off")}}
        <br/>
    
        {{form.submit(class="btn-primary")}}
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name="content")}}
</div>
{%endblock%}