{% extends 'base.html' %}

{% block content %}
    <div class="container-main" id="home-container">
        <h1 class="title">Welcome to <span class="name-highlight-primary">Qi</span>T</h1>
        {%if not current_user.is_authenticated%}
            <p class="paragraph-primary">QiT doesn't hide behind paywalls or silly subscriptions. In fact, QiT can't even make money if it wanted to. So enjoy and sign up for free!</p>
            <a class="nav-link btn-primary" href="{{url_for('sign_up')}}">Sign Up</a>
        {%endif%}
        <p class="paragraph-copyright">© 2022 Liao Zhu</p>
    </div>
    <div class="container-about">
            <h1 class="about-title">About the Creator</h1>
            <p class="about-desc">My name is <span class="name-highlight-tertiary">Liao Zhu</span>. I am a sophmore pursuing a <span class="name-highlight-tertiary">BS in Computer Science</span> @ Uiowa. I have a passion for <span class="name-highlight-tertiary">software engineering</span> as well as <span class="name-highlight-tertiary">web development</span>. I like to do many sorts of projects in my freetime in a variety of languages and frameworks. This has been one of my first fully functional full stack applications I've ever made. You can check out more of my projects here on my <a href="https://github.com/liaozhuzhu" target="_blank">github</a>.</p>
            <br/>
            <div class="container-about-footer">
                <p>Learn More About Me</p>
                <div class="socials">
                    <a href="mailto: liao.zhu.cs@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/liao-zhu/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <p class="about-disclaimer">Or make a QiT account and search for my profile: liaozhuzhu</p>
            </div>
            <br/>
    </div>
{% endblock content%}