{%extends "base.html"%}

{%block title%}Posts{%endblock%}

{%block content%}
<div class="container-main" id="container-post">
  <form class="form-search" method="POST" action="{{url_for('search')}}">
    {{form.hidden_tag()}}
    <input class="search-input" type="search" placeholder="Search Post" name="searched" autocomplete="off">
    <button type="submit" class="btn-primary" id="btn-search">Search</button>
  </form>
  <h1 class="title-secondary"><span class="name-highlight-primary-purple">Qi</span>T Posts</h1>
  {%for post in posts%}
  <div class="container-shadow" id="post-body">
      <h1 class="name-highlight-primary-purple" id="post-title">{{post.title|title}}</h1>
      <br/><br/>   
      <p>{{post.content|safe}}</p>
      <br/>   
      <div class="container-post-inner">
        <h1 class="post-username">{{post.poster.username}}</h1>
        {%if post.poster.pfp%}
        <img class="pfp-small" src="{{url_for('static', filename='images/' + post.poster.pfp)}}">
        {%else%}
        <img class="pfp-small" src="{{url_for('static', filename='images/pfp.png')}}">
        {%endif%}
        <h1 class="post-date">{{post.date_posted}}</h1>
      </div>
      <br/>
      <div class="container-inner" id="post-footer">
          <a href="{{url_for('post', id=post.id)}}" class="btn-primary">View</a>
          {%if current_user.is_authenticated%}
          {% if current_user.id in post.likes|map(attribute="liker")|list %}
          <i
            class="fa-solid fa-heart like-icon"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% else %}
          <i
            class="fa-regular fa-heart like-icon"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% endif %}
          <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
          {%endif%}
      </div>
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {%for comment in post.comments%}
            <div class="comment-text" id="comments-delete-{{comment.id}}">
              <div class="container-comment-text">
                <h6 class="username-highlight-primary-purple comment-h6" id="comment-username">{{comment.commentor.username}}</h6> : <h6 class="comment-h6">{{comment.text}}</h6>
              </div>
              {%if current_user.id == comment.commentor_id or current_user.id == post.poster_id%}
                <a href="/delete-comment/{{comment.id}}"><i class="fa-solid fa-xmark"></i></a>
                <!--<p class="delete-comment" onclick="deleteComment({{comment.id}})">X</p>-->
              {%endif%}
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
      {%if post.comments|length > 0%}
      <h6 class="comment-toggle" onclick="commentToggle({{post.id}})">View {{post.comments|length}} Comments</h6>
      {%else%}
      <h6>No Comments</h6>
      {%endif%}
      <br/>
      {%if current_user.is_authenticated%}
      <form class="comment-form" method="POST" action="/create-comment/{{post.id}}">
        {{form.hidden_tag()}}
        {{form.text(class="post-comment", autocomplete="off", placeholder="Comment Something")}}
        {{form.submit(class="btn-primary", id="btn-comment")}}
      </form>
      {%endif%}
  </div>  
{%endfor%}
</div>
{%endblock%}