{%extends "base.html"%}

{%block title%}Posts{%endblock%}

{%block content%}
<form class="form" method="POST" action="{{url_for('search')}}">
    {{form.hidden_tag()}}
    <input class="form-control" type="search" placeholder="Search Post" name="searched" autocomplete="off">
    <button type="submit" class="btn-primary">Search</button>
</form>
<h1>QiT Posts</h1>
{%for post in posts%}
<div class="container-shadow">
    <h1>{{post.title}}</h1>
    <p>{{post.poster.username}}</p>
    <br/><br/>   
    <p>{{post.content|safe}}</p>
    <br/>   
    <p>{{post.date_posted}}</p>
    <br/>
    <div class="container-inner">
        {%if post.poster.pfp%}
        <img class="pfp-small" src="{{url_for('static', filename='images/' + post.poster.pfp)}}">
        {%else%}
        <img class="pfp-small" src="{{url_for('static', filename='images/pfp.png')}}">
        {%endif%}
    </div>
    <div>
        <a href="{{url_for('post', id=post.id)}}" class="btn-primary">View</a>
        {%if current_user.is_authenticated%}
        {% if current_user.id in post.likes|map(attribute="liker")|list %}
        <i
          class="fa-solid fa-heart"
          id="like-button-{{post.id}}"
          onclick="like({{post.id}})"
        ></i>
        {% else %}
        <i
          class="fa-regular fa-heart"
          id="like-button-{{post.id}}"
          onclick="like({{post.id}})"
        ></i>
        {% endif %}
        <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
        {%endif%}
    </div>
</div>
{%endfor%}
{%endblock%}