{%extends "base.html"%}

{%block content%}
    <div class="container-profile" id="profile-head">
        <h2>{{current_user.name}}</h2>
    </div>
    <div class="container-profile">
        <div class="container-profile-inner">
            <p><strong>Username:</strong> {{current_user.username}}</p>
            <p><strong>Email:</strong> {{current_user.email}}</p>
            {%if current_user.about%}
                <p><strong>About:</strong> {{current_user.about}}</p>
            {%endif%}
            <p><strong>Date Joined:</strong> {{current_user.date_added}}</p>
            <br/>
            <a href="{{url_for('update', id=current_user.id)}}" class="btn-primary">Edit</a>
        </div>
        <div class="container-inner">
            {%if current_user.pfp%}
            <img class="pfp" src="{{url_for('static', filename='images/' + current_user.pfp)}}">
            {%else%}
            <img class="pfp" src="{{url_for('static', filename='images/pfp.png')}}">
            {%endif%}
        </div>
    </div>
{%endblock%}    