{%extends "base.html"%}
{%block title%}Search{%endblock%}

{%block content%}
{%if posts%}
<h1>Posts Found From "{{searched}}": </h1>
{%for post in posts%}
<div class="container-shadow">
    <h1>{{post.title}}</h1>
    <p>{{post.poster.username}}</p>
    <br/><br/>   
    <p>{{post.content|safe}}</p>
    <br/>   
    <p>{{post.date_posted}}</p>
    <br/>
    <div class="container-inner">
        {%if post.poster.pfp%}
        <img class="pfp-small" src="{{url_for('static', filename='images/' + post.poster.pfp)}}">
        {%else%}
        <img class="pfp-small" src="{{url_for('static', filename='images/pfp.png')}}">
        {%endif%}
    </div>
    <a href="{{url_for('post', id=post.id)}}" class="btn-primary">View</a>
</div>
{%endfor%}
{%else%}
<h1>Sorry, Results From "{{searched}}" Yielded 0 Results</h1>
{%endif%}
{%endblock%}