{%extends "base.html"%}
{%block title%}User Search{%endblock%}

{%block content%}
<div class="container-main">
    {%if users%}
    {%for user in users %}
    <div class="container-profile container-search-user" id="profile-head">
        <h2>{{user.name}}</h2>
    </div>
    <div class="container-profile container-search-user">
        <div class="container-profile-inner">
            <p><strong>Username:</strong> {{user.username}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            {%if user.about%}
                <p><strong>About:</strong> {{user.about}}</p>
            {%endif%}
            <p><strong>Date Joined:</strong> {{user.date_added}}</p>
            <br/>
            {%if current_user.id == 1%}
                <a href="{{url_for('update', id=user.id)}}" class="btn-primary">Edit</a>
            {%endif%}
        </div>
        <div class="container-inner">
            <img class="pfp" src="{{url_for('static', filename='images/pfp.png')}}">
        </div>
    </div>
    {%endfor%}
    {%else%}
    <div class="container-inner">
        <h1>No User Found</h1>
    </div>
    {%endif%}
    <a href="{{url_for('profile')}}" class="btn-primary">Back</a>
{%endblock%}