{%extends "base.html"%}

{%block content%}
    <form method="POST" class="form" action="{{ url_for('sign_up')}}">
        {{form.hidden_tag()}}

        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control", autocomplete="off", placeholder="Enter Name")}}
        <br/>
        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control", autocomplete="off", placeholder="Enter Username")}}
        <br/>
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", autocomplete="off", placeholder="Enter Email")}}
        <br/>
        {{form.about.label(class="form-label")}}
        {{form.about(class="form-control", autocomplete="off", placeholder="About Me")}}
        <br/>
        {{form.password_hash.label(class="form-label")}}
        {{form.password_hash(class="form-control", autocomplete="off", placeholder="Enter Password")}}
        <br/>
        {{form.password_hash2.label(class="form-label")}}
        {{form.password_hash2(class="form-control", autocomplete="off", placeholder="Confirm Password")}}
        <br/>

        {{form.submit(class="btn-submit")}}
    </form>
{%endblock%}