@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

li {
    list-style-type: none;
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

textarea {
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

i {
    margin: 5px;
}

i:hover {
    cursor: pointer;
}

/*======= Flash Message =======*/
.alert-div {
    position: absolute;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.5rem;
}

.btn-close {
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
}

#error {
    background-color: red;
}

#success {
    background-color: lightgreen;
}

/*======= Navbar =======*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8338ec;
    padding: 20px;
    text-decoration: none;
    height: 60px;
    position: sticky;
    z-index: 1030;
    top: 0;
}

.navbar-name {
    font-size: 1.5rem;
    margin-right: auto;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name-highlight-secondary {
    color: #f15bb5;
    font-size: 2.5rem;
}

.btn-primary:hover {
    background-color: #fe35ad;
}

/* ===== Home ===== */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#home-container {
    height: 705px;
    background-image: url("/static/images/hero.jpg");
    object-fit: cover;
    overflow: hidden;
}

.title {
    font-size: 4.5rem;
    color: white;
    margin: 50px;
    text-align: center;
}

.name-highlight-primary {
    color:#f15bb5;
    font-size: 6rem;
}

.paragraph-copyright {
    color: white;
    font-size: .75rem;
    margin: 10px;
}

.paragraph-primary {
    color: white;
    font-size: 1.5rem;
    max-width: 400px;
    text-align: center;
    margin: 10px;
}

/* ===== SignUp / Login ===== */
#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-hero-container {
    background-image: url("/static/images/form-hero.jpg");
    margin: 0;
    width: 50%;
    height: 705px;
    flex-direction: column;
    align-items: center;
}

.link-pink {
    color: #f15bb5;
}

.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 20px;
    width: 100%;
}

.inactive-link {
    font-size: 1.5rem;
    color: rgb(137, 137, 137);
}

.active-link {
    font-size: 1.5rem;
    color: #f15bb5;
}

.form-inner-container {
    width: 50%;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
}

#sign-up-form {
    margin-block: 30px;
}

.form-label {
    line-height: 1.5rem;
}

.form-control {
    height: 45px;
    padding: 5px;
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

@media only screen and (max-width: 900px) 
{
  #form-hero-container {
    display: none;
  }

  .form {
    width: 100%;
  }

  .form-control {
    height: 30px;
    width: 100%;
  }
  
  .form-label {
    font-size: .8rem;
  }
}

/* ===== Posts ===== */
.form-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.search-input {
    border: 2px solid black;
    width: 45%;
    padding: 5px;
    height: 50px;
}

#btn-search {
    border-radius: 0px 4px 4px 0px;
    height: 50px;
}

#post-body {
    width: 50%;
}

#post-body p{
    font-size: 1.75rem;
}

.title-secondary {
    font-size: 3rem;
}

.name-highlight-primary-purple {
    color: #8338ec;
    font-size: 5rem;
}

#post-title {
    font-size: 3rem;
}

.container-post-inner {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.post-username {
    font-size: 1rem;
}

.post-date {
    font-size: .6rem;
}

#post-footer {
    justify-content: left;
    margin: 0;
}

.collapse {
    display: none;
}

.comment-toggle {
    color: black;
}

.comment-toggle:hover {
    cursor: pointer;
}

.comment-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.comment-text a {
    color: red;
    margin-left: auto;
}

.delete-comment {
    color: red;
    margin-left: auto;
}

.delete-comment:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) 
{
  #post-body {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .container-post-inner {
    align-items: center;
  }
  #post-footer {
    justify-content: center;
  }
}

/* ===== Post ===== */
.container-shadow {
    margin: 10px;
    padding: 50px;
    box-shadow: 5px 10px 18px #888888;
    width: 100%;
}

.form-textarea {
    height: 250px;
}

.btn-primary {
    background-color: #f15bb5;
    padding: 10px;
    border-radius: 4px; 
    border: none;
    width: 100px;
    margin-right: 5px;
    margin-block: 5px;
    color: white;
    cursor: pointer;
}

.btn-primary-danger {
    background-color: red;
    padding: 10px;
    border-radius: 4px; 
    border: none;
    width: 100px;
    margin: 5px;
}

.btn-secondary {
    background-color: #9251ec;
    padding: 10px;
    border-radius: 4px; 
    border: none;
    width: 100px;
    margin: 5px;
    margin-left: 0;
}

.btn-submit {
    border: none;
    background-color: rgb(43, 43, 255);
    padding: 10px;
    border-radius: 4px; 
    border: none;
    width: 100px;
    color: white;
}

.icon-link {
    color: black;
}

.btn-submit:hover {
    opacity: 80%;
}

.like-icon {
    margin: 5px;
}

.post-comment {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
}

.comment-form {
    display: flex;
    align-items: center;
}

#btn-comment {
    height: 50px;
    border-radius: 0px 4px 4px 0px;
}

/* ===== Profile ===== */
.container-profile {
    margin-inline: 10px;
    border: 2px solid black;
    box-shadow: 2.7px 2.7px 2.7px 0px#888888;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 6px 6px;
}

#profile-head {
    margin-top: 50px;
    border-bottom: none;
    justify-content: left;
    padding-inline: 25px;
    border-radius: 6px 6px 0px 0px;
    background-color: #8338ec;
    color: white;
}

.container-inner {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-profile-inner {
    margin: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-small {
    width: 75px;
    height: 75px;
    object-fit:cover;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) 
{
  .container-profile {
    flex-direction: column;
    align-items: center;
  }
}

/* ===== Create Post ===== */
.post-input {
    width: 100%;
    box-shadow: 0px 2.5px 2.5px 0px #888888;
    border-radius: 4px;
    height: 50px;
    font-size: 1.25rem;
    padding-inline: 5px;
}

#cke_content {
    width: 100%;
    border-radius: 4px;
    border: 2px solid black;
}